@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: normal normal 1em 'Quicksand', sans-serif;
}

/*===========*/

body {
    padding: 25px 0px 0px 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    background: #3E86D9;
}
header {
    font: normal bold 2.5em 'Quicksand', sans-serif;
    color: white;
    margin: 0px 0px 25px 0px;
}
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    padding: 25px 25px 25px 25px;
    min-height: 425px;
    width: 450px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.397);
    border-radius: 10px;
} 
form {
    padding: 0px 0px 10px 0px;
    width: 100%;
    border-bottom: 2px solid black;
}
label {
    font: normal bold 1em 'Quicksand', sans-serif;
}
label > input {
    margin: 0px 0px 10px 0px;
    width: 125px;   
}
#botao {
    width: 75px;
    margin: 10px 0px 10px 0px;
    font: normal bold 1em 'Quicksand', sans-serif;
}
#result {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 25px 0px 0px 0px;
}
#tabuada {
    height: 180px;
    width: 200px;
}
