@charset "UTF-8";

/* Configurações Gerais */

@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font1: 'Montserrat';
    --font2: 'Kedebideri';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*===================================*/

/* Estilizações do site */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(Recursos/fundo.jpg) no-repeat center center / cover;
    box-shadow: inset 0px 0px 500px black;
}

.mn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
}

.mn__h1 {
    font: normal bold 3.5em var(--font2);
    margin: 0px 0px 10px 0px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.349);
    color: rgb(19, 19, 19);
}
.mn__p {
    font: normal normal 1.25em var(--font2);
    margin: 0px 0px 5px 0px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
    color: rgb(19, 19, 19);
}
.mn__h2 {
    font: normal normal 1.5em var(--font2);
    margin: 0px 0px 35px 0px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
    color: rgb(19, 19, 19);
}

.mn__lbl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

#tarefa {
    font: normal normal 1em var(--font1);
    width: 80%;
    border: none;
    padding: 10px 15px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.192);
}
#tarefa:focus {
    outline: none;
}

#salvarTarefa {
    font: normal normal 1em var(--font1);
    background: #3a3132;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.192);
}

.mn__sec-Lista {
    max-height: 250px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 0px;
    margin: 0px 0px 25px 0px;    
}
.lista__item {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid white;
    padding: 5px;
}
.lista__item--concluido {
    text-decoration: line-through;
}
.lista__item__txt {
    width: 90%;
    font: normal normal 1em var(--font1);
    color: white;
}
.lista__item__icon {
    width: 4.5%;
}


.mn__sec-btnExtras {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#limparLista, #apagarTarefasRealizadas {
    font: normal normal 0.9em var(--font1);
    background: #3a3132;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.192);
}

