@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Lato';
    src: url('Recursos/Lato/Lato-Black.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('Recursos/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('Recursos/Montserrat/Montserrat-VariableFont_wght.ttf');
}

html {
    scroll-behavior: smooth;
}

:root {
    --color1: white;
    --color2: black;
    --color3: #BA9674;
    --color4: #111319; 
    --font1: 'Lato';
    --font2: 'Roboto';
    --font3: 'Montserrat';
}

/*========================================*/

header {
    background: var(--color2);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 85px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #494949;
}

header > figure > img {
    width: 150px;
}
header > nav {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}
header > nav > a {
    margin: 0px 10px;
    padding: 5px 0px;
    color: var(--color1);
    font: normal normal 1em var(--font3);
    text-decoration: none;
    border-bottom: 2px solid var(--color2);
    transition: all 0.25s ease-out 0s;
}
header > nav > a:hover {
    border-bottom: 2px solid var(--color1);
}
header > nav > a:nth-child(2) {
    display: none;
}
header > aside {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
header > aside > a > img {
    margin: 0px 5px;
    width: 40px;
    height: 40px;
}   

/*========================================*/

#Home {
    width: 100%;
    padding: 166px 0px 0px 0px;
    background: darkgrey url('Recursos/FundoHome.jpg') no-repeat center center / cover;
    box-shadow: inset 0px -350px 1000px black;
    display: grid;
    grid-template-columns: 0.8fr 5fr 1fr;
    grid-template-rows: 1fr 0.75fr 1fr;
    gap: 10px;
}

#Home > * {
    color: var(--color1);
    text-shadow: 2px 2px 5px black;
}
#Home > h1 {
    font: normal bold 2.75em var(--font3);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
}
#Home > p {
    font: normal normal 1em var(--font3);
    line-height: 24px;
    grid-column: 2 / 3;    
    grid-row: 2 / 3;
}
#BotaoHome {
    font: normal normal 1em var(--font3);
    background: var(--color3);
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 200px;
    box-shadow: 5px 5px 10px black;
    transition: all 0.25s ease-out 0s;
    margin: 25px 0px 0px 0px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#BotaoHome > a {
    color: white;
    text-decoration: none;
}
#BotaoHome:hover { 
    transform: scale(105%);
    box-shadow: 5px 5px 25px black;
}

/*========================================*/

#Sobre {
    color: white;
    padding: 35px 0px;
    background: black;
    box-shadow: inset 0px -150px 1000px black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    justify-items:center;
}
#Sobre > h1 {
    font: normal bold 2em var(--font3);
    text-align: center;
}
#Sobre > article {
    background: var(--color4);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    width: 900px;
}
#Sobre > article > figure {
    background: darkgray url('Recursos/FundoSobre.jpg') no-repeat center center / cover;
}
#ConteudoSobre {
    padding: 45px 20px;
}
#ConteudoSobre > h2 {
    font: normal bold 1.5em var(--font3);
}
#ConteudoSobre > p {
    font: normal normal 0.9em var(--font3);
}
#BotaoSobre {
    font: normal normal 1em var(--font3);
    background: var(--color3);
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 150px;
}
#BotaoSobre:hover {
    transform: scale(115%);
    transition: all 0.3s ease-out 0s;
}
#BotaoSobre > a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

/*========================================*/

#Menu {
    background: var(--color2);
    padding: 25px 0px 50px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 105px 1fr;
    justify-items: center;
    align-items: center;
}
#Menu > h1 {
    color: var(--color1);
    font: normal bold 2em var(--font3);
    text-align: center;
}   
#OpcoesMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    justify-items: center;
    align-items: center;
    gap: 15px;
} 
#OpcoesMenu > aside {
    padding: 10px 0px 0px 0px;
    color: white;
    min-width: 275px;
    min-height: 300px;
    border: 1.5px solid #494949;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.25s ease-out 0s;
}
#OpcoesMenu > aside {
    padding: 10px 0px 0px 0px;
    color: white;
    min-width: 275px;
    min-height: 300px;
    border: 1.5px solid #494949;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease-out 0s;
}
#OpcoesMenu > aside:hover {
    background: white;
}
#OpcoesMenu > aside:hover > * {
    color: black;
}
#OpcoesMenu > aside:hover > div > a {
    color: black;
}
#OpcoesMenu > aside > h2 {
    font: normal bold 1.25em var(--font3);
}
#OpcoesMenu > aside > p {
    font: normal normal 1em var(--font3);
}
#OpcoesMenu > aside > p > del {
    font: italic normal 0.8em var(--font3);
}
.BotaoMenu {
    margin: 10px 0px;
    padding: 10px 25px;
    font: normal normal 1em var(--font3);
    background: #BA9674;
    transition: all 0.1s ease-out 0s;
}
.BotaoMenu:hover {
    transform: scale(110%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.411);
}
.BotaoMenu > a {
    color: white;
    text-decoration: none;
}
#OpcoesMenu > aside > figure {
    margin: 0px 0px 10px 0px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
#OpcoesMenu > aside:nth-child(1) > figure {
    background: black url('Recursos/Card1.jpg') no-repeat center center / cover;
}
#OpcoesMenu > aside:nth-child(2) > figure {
    background: black url('Recursos/Card2.jpg') no-repeat center center / cover;
}
#OpcoesMenu > aside:nth-child(3) > figure {
    background: black url('Recursos/Card3.jpg') no-repeat center center / cover;
}
#OpcoesMenu > aside:nth-child(4) > figure {
    background: black url('Recursos/Card4.jpg') no-repeat center center / cover;
}
#OpcoesMenu > aside:nth-child(5) > figure {
    background: black url('Recursos/Card5.jpg') no-repeat center center / cover;
}
#OpcoesMenu > aside:nth-child(6) > figure {
    background: black url('Recursos/Card6.jpg') no-repeat center center / cover;
}

/*========================================*/

#Avaliacoes {
    padding: 25px 0px 50px 0px;
    color: white;
    background: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr; 
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#Avaliacoes > h1 {
    color: var(--color1);
    font: normal bold 2em var(--font3);
    text-align: center;
}
#Clientes { 
    margin: 25px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
    gap: 10px;
}
#Clientes > aside {
    width: 280px;
    padding: 20px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #494949;
}
#Clientes > aside > h2 {
    font: normal normal 1.25em var(--font3);
    margin: 0px 0px 5px;
} 
#Clientes > aside > p {
    text-align: center;
    font: normal normal 0.9em var(--font3);
    margin: 0px 0px 20px;
} 
.Aspas {
    margin: 0px 0px 20px;
    height: 100px;
    width: 150px;
    background: black url('Recursos/Aspas.png') no-repeat center center / cover;
}
#Clientes > aside > img {
    border-radius: 100px;
    width: 125px;
    margin: 0px 0px 10px;
}
.Nota {
    height: 50px;
    width: 150px;
    background: rgb(0, 0, 0) url('Recursos/Notas.png') no-repeat center center / contain;
}

/*========================================*/

#Endereco {
    padding: 25px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 360px;
    background: black;
}
#Endereco > h1 {
    color: var(--color1);
    font: normal bold 2em var(--font3);
    text-align: center;
}
#Local {
    position: relative;
}
#Faixa {
    background: #111319;
    height: 200px;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
#IframeLocal {
    width: 500px;
    height: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border: 20px solid #111319;
}

/*========================================*/

footer {
    padding: 0px 0px 25px 0px;
    display: grid;
    grid-template-columns: 4fr repeat(3, 0.75fr) 4fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
    background: var(--color2);
} 
footer > a {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    transition: all 0.3s ease-out 0s;
}
footer > a:hover {
    background: var(--color3);
}
footer > a > figure {
    height: 35px;
    width: 35px;
}
footer > a:nth-child(2) > figure {
    background: rgba(0, 0, 0, 0) url('Recursos/IconInsta.webp') no-repeat center center / cover;
}
footer > a:nth-child(3) > figure {
    background: rgba(0, 0, 0, 0) url('Recursos/IconFace.webp') no-repeat center center / cover;
}
footer > a:nth-child(4) > figure {
    background: rgba(0, 0, 0, 0) url('Recursos/IconTwitter.png') no-repeat center center / cover;
}
/*========================================*/

@media (max-width: 950px) {

    header {
        grid-template-columns: 1.5fr 2fr 0.75fr;
    }
    header > nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 10px 0px;
    }
    header > aside > a > img {
        width: 35px;
        height: 35px;
    }

    /*========================================*/

    #Sobre > article > figure {
        height: 359px;
    }
    #Sobre > article {
        background: #111319;
        display: flex;
        flex-flow: column nowrap;   
        width: 90%;
    }

    /*========================================*/

    #OpcoesMenu {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    /*========================================*/

    #Clientes {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #Clientes > aside:nth-child(3) {
        justify-self: center;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

@media (max-width: 600px) {

    #OpcoesMenu {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    /*========================================*/

    #Clientes {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    #Clientes > aside:nth-child(3) {
        grid-column: 1 / 2;
    }

    /*========================================*/

    #Endereco {
        grid-template-rows: 50px 260px;
    }
    #IframeLocal {
        width: 400px;
        height: 250px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        border: 20px solid #111319;
    }
    
    /*========================================*/

    footer {
        gap: 20px;
    }
}
