@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --font1: 'Noto Sans';
    --font2: 'Roboto';
    --font3: 'Lilita One';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 0px 0px 0px 0px;
}

/*===================*/

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 15px rgb(29, 29, 29);
    z-index: 3;
    backdrop-filter: blur(10px);
}
header > figure {
    flex: 4 1 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
header > figure > img {
    height: 60px;
    width: 60px;
    background: url('Recursos/LogoMarca.png') no-repeat center center / cover;
}
header > figure > div {
    font: normal normal 1em 'Roboto';
    width: 100px;
    margin: 0px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
header > figure > div > h1{
    font: normal normal 1.5em var(--font3);
}
header > figure > div > h2 {
    font: normal normal 1em 'Roboto';
}
header > nav {
    flex: 5 1 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
header > nav > a {
    font: normal normal 1.2em 'Roboto';
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}
header > nav > a:hover {
    color: #FED049;
}

/*===================*/

#Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.685);
    background: url('Recursos/Fundo1Banner.jpg') no-repeat center center / cover;
}
#Banner > h1 {
    font: normal bold 4.5em var(--font3);
    color: white;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.74);
}

/*=======*/

#Sobre {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    height: 400px;
}
#Sobre > #TextoSobre {
    height: 100%;
    flex: 1 1 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0px 20px 20px;
}
#Sobre > #TextoSobre > h1{
    font: normal bold 3em var(--font1);
}
#Sobre > #TextoSobre > p {
    font: normal normal 1.5em var(--font2);
    margin: 30px 0px 0px 0px;
}
#Sobre > figure {
    height: 100%;
    background: black url('Recursos/FundoSobre.jpg') no-repeat center center / cover;
    flex: 1 1 0px;
    position: relative;
    box-shadow: inset 0px 0px 15px black;
}
#Sobre > figure > img {
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 15px rgba(49, 49, 49, 0.897);
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 75px;
    height: 75px;
}

/*=======*/

#Portifolio {
    margin: 20px auto;
    max-width: 1100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.Card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:  center;
    background: white;
    overflow: hidden;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.801);
}
.Conteudo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items:  center;
    height: 800px;
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    transform: translateY(50%);
    transition: all 0.2s ease-in-out 0s;
    padding: 0px 20px 0px 20px;
    text-align: center;    
    color: white;
    text-shadow: 5px 5px 15px black;
}
.Conteudo > h1 {
    font: normal normal 1.5em var(--font3);
    margin: 0px 0px 10px 0px;
}
.Conteudo > h2 {
    font: normal normal 1em var(--font2);
    margin: 0px 0px 10px 0px;
}
.Conteudo > div {
    margin: 0px 0px 50px 0px;
    height: 40px;
    width: 120px;
    background: black;
    color: white;
    text-align: center;
    padding: 5px 0px 0px 0px;
    border: 2px solid white;
    font: normal normal 1.1em var(--font2);
    z-index: 3;
    transition: all 0.2s ease-in-out 0s;
}
.Conteudo > div:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.452), rgb(0, 0, 0));
    transform: scale(105%);
    box-shadow: 0px 0px 15px black;
}
.Conteudo:hover {
    transform: translateY(0%);
}
#FundoCard1 {
    background: black url('Recursos/Card1.jpg') no-repeat center center / cover;
}   
#FundoCard2 {
    background: black url('Recursos/Card2.jpg') no-repeat center center / cover;
}
#FundoCard3 {
    background: black url('Recursos/Card3.jpg') no-repeat center center / cover;
}
#FundoCard4 {
    background: black url('Recursos/Card4.jpg') no-repeat center center / cover;
}
#FundoCard5 {
    background: black url('Recursos/Card5.jpg') no-repeat center center / cover;
}
#FundoCard6 {
    background: black url('Recursos/Card6.jpg') no-repeat center center / cover;
}

/*=======*/

#Servicos {
    margin: 20px auto;
    max-width: 1100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
#OpcoesServicos {
    margin: 20px auto;
    max-width: 1100px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.CardS {
    width: 300px;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:  center;
    background: white;
    overflow: hidden;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.801);
}
.ConteudoS {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items:  center;
    height: 1000px;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) rgb(0, 0, 0));
    transform: translateY(0%);
    transition: all 0.2s ease-in-out 0s;
    padding: 0px 20px 0px 20px;
    text-align: center;    
    color: white;
    text-shadow: 5px 5px 15px black;
}
.ConteudoS > h1 {
    font: normal normal 1.5em var(--font3);
    margin: 0px 0px 10px 0px;
}
.ConteudoS > h2 {
    font: normal normal 1em var(--font2);
    margin: 0px 0px 10px 0px;
}
.ConteudoS > div {
    height: 40px;
    width: 120px;
    background: black;
    color: white;
    text-align: center;
    padding: 5px 0px 0px 0px;
    border: 2px solid white;
    font: normal normal 1.1em var(--font2);
    z-index: 3;
    transition: all 0.2s ease-in-out 0s;
}
.ConteudoS > div:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.452), rgb(0, 0, 0));
    transform: scale(105%);
    box-shadow: 0px 0px 15px black;
}
.ConteudoS:hover {
    transform: translateY(0%);
}
#CardServico1 {
    background: black url('Recursos/Card1.jpg') no-repeat center center / cover;
}   
#CardServico2 {
    background: black url('Recursos/Card2.jpg') no-repeat center center / cover;
}
#CardServico3 {
    background: black url('Recursos/Card3.jpg') no-repeat center center / cover;
}
